<div class="container">

    <div class="row align-items-center justify-content-center vh-100">

        <div class="col-md-4 mb-2">

            <div class="card" style="box-shadow: 0 2px 10px rgba(0,0,0,.075);">

                <div class="card-body">
                    <div class="d-grid gap-2">
                        <img src="/img/perfil.png" class="w-50 mx-auto">

                        <h4 class="text-center"><b>{{tipo}}</b></h4>
                        <h5 class="text-center">{{nombres}} {{apellidos}}</h5>
                        <a class="btn btn-primary btn-block fs-4" href="/perfil/{{id}}"><i class="fas fa-eye"></i> Ver Perfil</a>
                        <a class="btn btn-danger btn-block fs-4" href="/salir"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>

                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-8">

            <div class="card mb-2" style="box-shadow: 0 2px 10px rgba(0,0,0,.075);">

                <div class="card-body">

                    <div class="row">

                        <div class="col">
                            <div class="card ">
                                <div class="card-body text-center">
                                    <div class="d-grid gap-2">
                                        <img src="/img/clientes.png" class="w-50 mx-auto">
                                        <a class="btn btn-primary btn-block fs-4" href="/clientes">Clientes</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card ">
                                <div class="card-body text-center">
                                    <div class="d-grid gap-2">
                                        <img src="/img/pagar.png" class="w-50 mx-auto">
                                        <a class="btn btn-success btn-block fs-4" href="/pagar">Pagar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-3">

                        <div class="col">

                            <div class="card ">
                                <div class="card-body text-center">
                                    <div class="d-grid gap-2">
                                        <img src="https://cdn-icons-png.flaticon.com/512/1055/1055644.png"
                                            class="w-50 mx-auto">
                                        <a class="btn btn-secondary btn-block fs-4" href="/reportes">Reportes</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card ">
                                <div class="card-body text-center">
                                    <div class="d-grid gap-2">
                                        <img src="/img/usuarios.png" class="w-50 mx-auto">
                                        <a class="btn btn-warning btn-block fs-4" href="/usuarios">Usuarios</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>